body {
  background-color: aliceblue;
  font-family: roboto, sans-serif;
}

.header {
  width:  100%;
  margin-bottom: 60px;
}

.carCard {
  width: 260px;
  height: 400px;
  margin: 60 auto;
  padding: 15px;
  border: 2px solid;
  text-align: left;
}

.orange {
  width: 300px;
  border-color: orange;
}

.car_1 {
}

.car_2 {
}

li {
  list-style: none;
}
img {
  height: 120px;
  margin: 15px;
  float: right;
  /* margin-left: 15px; */
  /* margin-bottom: 15px */
}
